<header id="header">

    <div id="nav-header" class="fixed">
        <div class="container">
            <nav id="main-nav">
                <div class="nav-logo">
                    <a href="#" class="logo"><img src="~/HABER/img/logo-alt.png" alt=""></a>
                </div>
                <ul class="main-nav nav navbar-nav">


                    @*<li class="active">
                    <a href="/">
                        <marquee bgcolor="#EEEEEE" scrollamount="1" scrolldelay="60" direction="right" loop="99999" onmouseout="this.start()" onmouseover="this.stop()" color="maroon">SON DAKİKA HABERLERİ</marquee>
                    </a>
                </li>
                <li><a href="#">GÜNDEM</a></li>
                <li><a href="#">EKONOMİ</a></li>
                <li><a href="#">SAĞLIK</a></li>*@


                    <li class="active"><a href="/">ANASAYFA</a></li>
                    <li><a href="/#owl-carousel-1">SON DAKİKA HABERLERİ</a></li>
                    <li><a href="/#gundem">GÜNDEM</a></li>
                    <li><a href="/#ekonomi">EKONOMİ</a></li>
                    <li><a href="/#saglık">SAĞLIK</a></li>
                </ul>
            </nav>
            @*<div class="button-nav">
                <button class="search-collapse-btn"><i class="fa fa-search"></i></button>
                <button class="nav-collapse-btn"><i class="fa fa-bars"></i></button>
                <div class="search-form">
                    <form>
                        <input class="input" type="text" name="search" placeholder="Search">
                    </form>
                </div>
            </div>*@
        </div>
    </div>
    <!-- /Nav Header -->
</header>











