
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<br />
<br />
<br />


<div class="container">
    <div class="row">
        <div class="widget-article__container">
            <div class="widget-article__header">
                <header> <h1 itemprop="headline" class="widget-article__headline"> Bize Ulaşın </h1> </header>
            </div>

            <div class="widget-article__body" itemprop="articleBody">
                <p>
                    TR HABER
                </p>

                <p>&nbsp;</p>

                <p><strong>E-Mail:</strong>&nbsp;destek@trhaber.com</p>

                <p><strong>Telefon:&nbsp;</strong>0212 333 33 33</p>

                <p><strong>Adres:&nbsp;</strong>Zühtüpaşa Mah. Şefikbey Sk. No:1 Kadıköy/İstanbul</p>
            </div>
        </div>
    </div>
</div>

