
<div id="ajax" class="demo"></div>
@section scripts{
    <link href="~/content/assets/jstree/style.min.css" rel="stylesheet" />
    <script src="~/content/assets/jstree/jstree.min.js"></script>
}


<script>
    // ajax demo
    $('#ajax').jstree({
        'core': {
            'data': {
                "url": '@Url.Action("GetAllCategoriesToJson","Category",new { area="Admin"})',
                "dataType": "json" // needed only if you do not supply JSON headers
            }
        }
    });
</script>